<div fxLayout="column" fxLayoutGap="25px">
  <mat-toolbar>
    <mat-toolbar-row>
      <span fxFlex="1 1 auto"></span>
      <button mat-button (click)="openDialog()">
        <mat-icon>add</mat-icon>
        Add staff
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row fxLayout="row">
      <mat-form-field appearance="outline" fxFlex="1 1 auto">
        <mat-label>Search</mat-label>
        <input matInput>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </mat-toolbar-row>
  </mat-toolbar>

  <div *ngIf="registry$ | async as registry">

    <table mat-table [dataSource]="registry.staff">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let registry"> {{registry.basicInfo.id}} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First name </th>
        <td mat-cell *matCellDef="let registry"> {{registry.basicInfo.firstName | titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last name </th>
        <td mat-cell *matCellDef="let registry"> {{registry.basicInfo.lastName | titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="grade">
        <th mat-header-cell *matHeaderCellDef> Grade level </th>
        <td mat-cell *matCellDef="let registry"> {{registry.basicInfo.grade}} </td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let registry"> {{registry.basicInfo.gender | lowercase}} </td>
      </ng-container>

      <ng-container matColumnDef="stateOfOrigin">
        <th mat-header-cell *matHeaderCellDef> State of origin </th>
        <td mat-cell *matCellDef="let registry"> {{registry.basicInfo.stateOfOrigin | titlecase}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" id="header"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>


  </div>


</div>
