<div fxLayout="column" fxLayoutGap="25px">
  <mat-toolbar>
    <mat-toolbar-row>
      <span fxFlex="1 1 auto"></span>
      <button mat-button (click)="openDialog()">
        <mat-icon>add</mat-icon>
        Add staff
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row fxLayout="row">
      <mat-form-field appearance="outline" fxFlex="1 1 auto">
        <mat-label>Search</mat-label>
        <input matInput>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </mat-toolbar-row>
  </mat-toolbar>

  <table>
  </table>
</div>
